<app-menu></app-menu>
<div class="starting-page__content" style="background-image: url('/assets/main_page.jpg');">U nas zamówisz danie z
  każdego zakątka świata!
</div>
<div class="starting-page__footer">
  <iframe class="starting-page__map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2560.9742555779544!2d19.910409515601092!3d50.06804377942445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165ba4c2a49e97%3A0xc4bef8eb0fcc3739!2sCentrum%20Informatyki%20Akademii%20G%C3%B3rniczo-Hutniczej%20w%20Krakowie%2C%20Kawiory%2021%2C%2030-055%20Krak%C3%B3w!5e0!3m2!1spl!2spl!4v1640816824082!5m2!1spl!2spl"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  <div class="starting-page__contact-section">
    <div class="starting-page__contact-section__title">Dane kontaktowe</div>
    <div class="starting-page__contact-section__items">
      <div class="starting-page__contact-section__items__item">
        <div class="starting-page__contact-section__items__item__title">Adres:</div>
        Ul. Kawiory 21,<br>30-055 Kraków
      </div>
      <div class="starting-page__contact-section__items_item">
        <div class="starting-page__contact-section__items__item__title">Telefon:</div>
        +48 12 123 123 123<br>(pn-pt 9:00 – 17:00)
      </div>
      <div class="starting-page__contact-section__items__item">
        <div class="starting-page__contact-section__items__item__title">E-mail:</div>
        kontakt@restauracjaonline.pl
      </div>
    </div>
  </div>
</div>
