.communication-message {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  z-index: 100;
}

.communication-message__message {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px;
  margin: 16px;
  background: lightskyblue;
  color: white;
}

.communication-message__message--success {
  background: darkseagreen;
}

.communication-message__message--error {
  background: lightcoral;
}

.communication-message__message__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
